{% extends "exam.html" %}

{% block title %}구매 목록{% endblock %}

{% block content %}

<style>
    h1{
        position:relative;
        margin-top:20px;
    }

    .table{
        position:relative;
        
    }
    .card{
        position: relative;
        margin-left:30px;
    }
</style>

<div class="card">
<h1>구매 목록</h1>
<br>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>상품</th>
            <th>수량</th>
            <th>가격</th>
            <th>총합</th>
        </tr>
    </thead>
    <tbody>
        {%for product_list in Product%}
        <tr>
            <td>    <textarea id="chat-log" cols="100" rows="20"></textarea></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


    <div class="text-right mr-3">
        <input id="chat-message-submit" type="button" class="btn btn-primayr btn-sm" value="결제">
    </div>




</div>

<script type="text/javascript">
    let roomName = "{{ room_name | escapejs }}";

    let chatSocket = new WebSocket(
        `ws://${window.location.host}/ws/chat/${roomName}/`
    );

    chatSocket.onmessage = (e) => {
        let data = JSON.parse(e.data);
        let message = data['message'];
        document.querySelector("#chat-log").value += (message + '\n');
    };

    chatSocket.onclose = (e) => {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector("#chat-message-input").focus();
    document.querySelector("#chat-message-input").addEventListener("keyup",(e) => {
        if (e.keyCode === 13) { 
            document.querySelector("#chat-message-submit").click();
        }
    });

    document.querySelector("#chat-message-submit").addEventListener("click", (e) => {
        let messageInputDom = document.querySelector("#chat-message-input");
        let message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message' : message
        }));

        messageInputDom.value = '';
    });
</script>

{% endblock %}
