{% extends "base.html" %}
{% block content %}


    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">재고관리 페이지</h1>
{#            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i#}
{#                    class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>#}
        </div>
    <div>
    <table class ="table table-striped">
    <tr>
        <th>아이템 ID</th>
        <th>이름</th>
        <th>가격</th>
        <th>수량</th>
        <th>카테고리</th>
    </tr>

        {% for item in result %}
            <tr>
                <td>{{ item.Item_id }}</td>
                <td>{{ item.Product_name }}</td>
                <td>{{ item.Price }}원</td>
                <td>{{ item.Qty }}개</td>
                <td>{{ item.Category }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    </div>
    <!-- /.container-fluid -->
{% endblock %}